<h1 align="center"><font size="5">CONTENT-BASED FILTERING</font></h1>

In [2]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

<a id="ref3"></a>
# Content-Based recommendation system

In [28]:
userInput = ratingss_df.loc[ratingss_df['user_id']=='cl_47','new_id':'rating']

In [29]:
inputNews = pd.DataFrame(userInput)
inputNews

               new_id  rating
86549    gen_2_230720     1.0
86550    gen_3_230720     3.0
86551    gen_5_230720     4.0
86552    gen_6_230720     1.0
86553    gen_7_230720     3.0
...               ...     ...
88349  gen_565_300720     2.0
88350  gen_566_300720     5.0
88351  gen_567_300720     2.0
88352  gen_568_300720     3.0
88353  gen_569_300720     2.0

[1805 rows x 2 columns]

In [30]:
#Filtrado por news_id en news_df
titulo = news_df[news_df['new_id'].isin(inputNews['new_id'].tolist())]

In [31]:
#Merge
inputNews = pd.merge(titulo, inputNews)

In [32]:
inputNews.drop(inputNews.columns[inputNews.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [33]:
inputNews

,new_id,Título,rating
0,gen_2_230720,Detienen al director de una residencia por dro...,1.0
1,gen_3_230720,El Supremo revoca los permisos de Forcadell y ...,3.0
2,gen_5_230720,Andalucía y Galicia se rebelan contra el fondo...,4.0
3,gen_6_230720,Los aliados del Gobierno dan un aviso para los...,1.0
4,gen_7_230720,El Gobierno retoma la ley de libertad de conci...,3.0
...,...,...,...
1800,gen_565_300720,Huesca y Granada quieren llevarse a Munir del ...,2.0
1801,gen_566_300720,El Real Valladolid quiere llevarse a Sergi Dar...,5.0
1802,gen_567_300720,"Álex Collado, otro objetivo de la Real Socieda...",2.0
1803,gen_568_300720,El Sevilla quiere interponerse en el fichaje d...,3.0
1804,gen_569_300720,"Valencia, Betis y Real Sociedad solicitan al B...",2.0

In [34]:
#Filtrando noticias del input
userNews = newsWeb_df[newsWeb_df['new_id'].isin(inputNews['new_id'].tolist())]
userNews.head()

,new_id,Título,Web,El Confidencial,El Mundo,El País,ABC,El Economista,Marca,La Razón,Cinco Días,As,Expansión
0,gen_2_230720,Detienen al director de una residencia por dro...,El Confidencial,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,gen_3_230720,El Supremo revoca los permisos de Forcadell y ...,El Confidencial,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,gen_5_230720,Andalucía y Galicia se rebelan contra el fondo...,El Confidencial,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,gen_6_230720,Los aliados del Gobierno dan un aviso para los...,El Confidencial,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,gen_7_230720,El Gobierno retoma la ley de libertad de conci...,El Confidencial,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4478,gen_565_300720,Huesca y Granada quieren llevarse a Munir del ...,La Razón,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4479,gen_566_300720,El Real Valladolid quiere llevarse a Sergi Dar...,La Razón,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4480,gen_567_300720,"Álex Collado, otro objetivo de la Real Socieda...",La Razón,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4481,gen_568_300720,El Sevilla quiere interponerse en el fichaje d...,La Razón,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4482,gen_569_300720,"Valencia, Betis y Real Sociedad solicitan al B...",La Razón,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [35]:
#reseteo índice
userNews = userNews.reset_index(drop=True)
#cols inecesarias
userWebTable = userNews.drop('new_id', 1).drop('Título', 1).drop('Web', 1)
userWebTable

,El Confidencial,El Mundo,El País,ABC,El Economista,Marca,La Razón,Cinco Días,As,Expansión
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1800,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1801,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1802,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1803,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1804,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [36]:
inputNews['rating']

0       1.0
1       3.0
2       4.0
3       1.0
4       3.0
       ...
1800    2.0
1801    5.0
1802    2.0
1803    3.0
1804    2.0
Name: rating, Length: 1805, dtype: float64

In [37]:
#calculo de pesos de cada web
userProfile = userWebTable.transpose().dot(inputNews['rating'])

userProfile

El Confidencial     866.0
El Mundo            427.0
El País            1460.0
ABC                1085.0
El Economista         0.0
Marca                 0.0
La Razón           1529.0
Cinco Días            0.0
As                    0.0
Expansión             0.0
dtype: float64

In [38]:
webTable = newsWeb_df.set_index(newsWeb_df['new_id'])

webTable = webTable.drop('new_id', 1).drop('Título', 1).drop('Web', 1)
webTable.head()

,El Confidencial,El Mundo,El País,ABC,El Economista,Marca,La Razón,Cinco Días,As,Expansión
new_id,,,,,,,,,,
gen_2_230720,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gen_3_230720,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gen_4_230720,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gen_5_230720,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gen_6_230720,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
webTable.shape

(4642, 10)

In [41]:
#Se multiplica web por el peso y nos quedamos con la media
recommendationTable_df = ((webTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

new_id
gen_2_230720    0.161356
gen_3_230720    0.161356
gen_4_230720    0.161356
gen_5_230720    0.161356
gen_6_230720    0.161356
dtype: float64

In [42]:
#Orden descendente
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)

recommendationTable_df.head()

new_id
gen_522_270720    0.284889
gen_627_230720    0.284889
gen_632_230720    0.284889
gen_636_230720    0.284889
gen_637_230720    0.284889
dtype: float64

In [43]:
#Noticias recomendadas
news_df.loc[news_df['new_id'].isin(recommendationTable_df.head(20).keys())]

,Unnamed: 0,new_id,Título
249,249,gen_627_230720,Los frugales no podrán bloquear los fondos eur...
251,251,gen_632_230720,¿Cómo terminaron las siete maravillas del mund...
252,252,gen_636_230720,"Hitler tenía un micropene, dormía con su sobri..."
253,253,gen_637_230720,Los mundos lejanos cubiertos por océanos de lava
254,254,gen_638_230720,El ruso que sobrevivió al disparo de un haz de...
255,255,gen_640_230720,Los 10 mandamientos de la paella valenciana
256,256,gen_641_230720,"Lea Vicens: «¿Animalista? No, yo respeto al an..."
257,257,gen_643_230720,Michael Sandel: La conexión de Sócrates con el...
258,258,gen_644_230720,El picante es para este caluroso y atípico verano
259,259,gen_646_230720,“Todas las figuras del castrochavismo están en...
260,260,gen_651_230720,¿Te han hackeado el móvil? Mételo en el microo...
261,261,gen_672_230720,Cerco al círculo íntimo de Maduro
262,262,gen_702_230720,Coronavirus en Andalucía: minuto a minuto
263,263,gen_707_230720,La nueva normalidad en Castilla y León: minuto...
264,264,gen_717_230720,La genética de las palabras
265,265,gen_718_230720,Establecer puentes entre la ciencia y el empre...
266,266,gen_721_230720,¿Cómo puede mi aire acondicionado ayudar a mej...
267,267,gen_722_230720,Lo que nunca tienes que hacer si tu móvil se i...
268,268,gen_725_230720,La concertada celebra el rechazo del Congreso ...
3099,3099,gen_522_270720,Nivel amarillo por altas temperaturas en la Re...